*{
    margin: 0;
    padding: 0;
}
body{
   
}
.nav{
    background-color: black;
    z-index: 9;
    padding: 10px;
    padding-left: 10px;
    padding-right: 50px;
    display: flex;
    box-shadow: 0px 3px 65px 0px rgba(0,0,0,15);
}
.nav_top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
.logo{
    float: left;
    width:30%;
}
.logo img{
    padding: 10px;
    margin-left: 10px;
}
.hea1{
    color: white;
   margin-right: 400px;
    font-size: 30px;
    margin-top: 20px;
    font-weight: bolder;
    margin-left: 20px;
    font-family: cosmic, sans-serif;
    float: left;
}
.nav_side{
    float: right;
    width: 30%;
    margin-top: 50px;
}
.nav_side a{
   
    text-decoration: none;
    margin-right: 10px;
    padding-top: 50px;
    color: white;
    font-weight: bold;
    font-family: cosmic, sans-serif;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
.nav_side a:hover{
    color: aqua;
    text-decoration: underline;
    transition: all 1s ease;
}
footer{
    margin-top: 100px;
    background-color:black;
    padding: 50px;

}
footer .pages{
    padding-left: 600px;
    padding-top: 10px;
    
}
footer .pages h3{
    color: white;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
    margin-left: 150px;
}
footer .pages a{
    text-align: center;
    text-decoration: none;
    margin:10px;
    color:white;
    font-size: 15px;
    font-family: cosmic, sans-serif;
    margin-top: 0px;
}
footer .pages a:hover{
    color: white;
}
footer .doc{
    padding-left: 600px;
}
.doc h3{
    color:white;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
    margin-left: 120px;
    margin-top: 20px;
}
footer .doc a{
    margin-left: 30px;
    text-decoration: none;
    margin:10px;
    color:white;
    margin-top: 20px;
    font-size: 15px;
    font-family: cosmic, sans-serif;
}
footer .doc a:hover{
    color: white;
}
footer .social{
    padding-left:600px;
}
footer .social h3{
    color: white;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
    margin-left: 120px;
    margin-top: 20px;
}
footer .contact{
    padding-left: 600px;
}
footer .contact h3{
    color: white;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
    margin-left: 120px;
    margin-top: 20px;
}
 footer .social a{
    padding-left: 10px;
margin-left: 50px; 
font-size: 20px;

}
footer p{
    text-align: center;
    color: white;
}
footer .contact a{
    padding-left: 30px;
margin-left: 50px; 
font-size: 20px;  
}
hr{
    margin-top: 150px;
}

.feed{
    background-color: black;
    background-size: cover;
    margin-top: 50px;
}
.feed h2{
    color: white;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}
.feed .feed_form{
    color: white;
    text-align: center;
 
}
.feed .feed_form form{
    padding: 20px;
}
.feed .feed_form form input{
   width: 30%; 
   height: 40px;
   border-radius: 8px ;
   color: black;
}
.feed .feed_form form textarea{
    width: 30%;
    border-radius: 8px ;
    color: black;
}
.feed .feed_form form button{
    width: 10%;
    height: 50px;
    color: white;
    background: black;
    border: 3px solid white;
    border-radius: 20px;
}
.feed .feed_form form button:hover{
    color: black;
    background: white;
    border: 3px solid green;
}
.g_map{
    margin-top: 30px;
    padding-left: 100px;
    padding-right: 100px;
}
.g_map iframe{
    border: 3px solid black;
}
.cont_cont h2{
    margin-top: 250px;
    font-size: 35px;
    text-align: center;
}
.cont_contt{
    text-align: center;
    margin-top: 20px;
}